@implements IDisposable
@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem
@inject PersistentComponentState ApplicationState
@inject IMessageService MessageService

@if (_isLoading)
{
    <LoadingSpinKit />
}
else
{
    <DataGrid TItem="TItem"
              Data="@_items"
              @ref="_dataGrid"
              @bind-SelectedRow="_selectedItem"
              RowStyling="@OnRowStyling"
              PopupSize="ModalSize.ExtraLarge"
              ShowPager="true"
              ShowPageSizes="true"
              Editable="true"
              UseValidation="true"
              ShowValidationsSummary="false"
              ShowValidationFeedback="true"
              Sortable="true"
              SortMode="DataGridSortMode.Single"
              Filterable="true"
              FilterMode="DataGridFilterMode.Menu"
              EditMode="DataGridEditMode.Popup"
              FixedColumns="true"
              Resizable="true"
              ResizeMode="TableResizeMode.Header"
              CommandMode="DataGridCommandMode.ButtonRow"
              Hoverable="true"
              Responsive="true"
              RowDoubleClicked="@(async _ => {
                    if(_editButton != null)
                        await _editButton.Clicked.InvokeAsync();
                })">
        <DataGridColumns>
            <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false" DeleteCommandAllowed="false">
                <SaveCommandTemplate>
                    <Button Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Color="Color.Primary" Clicked="@(async () => await SaveItem(context))">저장</Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button Color="Color.Secondary" Clicked="@context.Clicked">취소</Button>
                </CancelCommandTemplate>
            </DataGridCommandColumn>
            @ChildContent
        </DataGridColumns>

        <FilterMenuTemplate>
            <Grid Columns="GridColumns.Are3" Width="Width.Px(600)">
                <Div>
                    <TextEdit Text="@context.GetSearchValue()?.ToString()" TextChanged="@((newValue) => context.Column.Filter.SearchValue = newValue)" />
                </Div>

                <Div>
                    <Select TValue="DataGridColumnFilterMethod" SelectedValue="@context.GetFilterMethod()" SelectedValueChanged="e => { context.FilterMethodChanged.InvokeAsync(e); }">
                        @{
                            var isNumericOrDate = context.Column.ColumnType == DataGridColumnType.Numeric || context.Column.ColumnType == DataGridColumnType.Date;
                        }

                        @if (!isNumericOrDate)
                        {
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.Contains">을 포함</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.StartsWith">으로 시작</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.EndsWith">으로 끝남</SelectItem>
                        }
                        <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.Equals">와 같음</SelectItem>
                        <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.NotEquals">와 다름</SelectItem>
                        @if (isNumericOrDate)
                        {
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.GreaterThan">보다 큼</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.GreaterThanOrEqual">보다 크거나 같음</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.LessThan">보다 작음</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.LessThanOrEqual">보다 작거나 같음</SelectItem>
                        }
                    </Select>
                </Div>

                <Div>
                    <Button Clicked="context.Filter" Color="Color.Primary"><Icon Name="IconName.Filter"></Icon>적용</Button>
                    <Button Clicked="context.ClearFilter" Color="Color.Secondary"><Icon Name="IconName.Clear"></Icon>지우기</Button>
                </Div>
            </Grid>
        </FilterMenuTemplate>
        <EmptyTemplate>
            등록된 자료가 없습니다.
        </EmptyTemplate>
        <ButtonRowTemplate>
            @if (!DisableButtonRow)
            {
                <Div Margin="Margin.Is1.FromTop">
                    @if (!IsDisableNew)
                    {
                        <Button Margin="Margin.Is1.FromBottom.Is1.FromEnd" Color="Color.Primary" Clicked="context.NewCommand.Clicked">추가</Button>
                    }
                    <Button @ref="_editButton" Margin="Margin.Is1.FromBottom" Color="Color.Success" Disabled="(_selectedItem is null)" Clicked="context.EditCommand.Clicked">수정</Button>
                    <Button Margin="Margin.Is1.FromBottom" Color="Color.Secondary" Disabled="(_selectedItem is null)" Clicked="@(async () => await DeleteItem(context.DeleteCommand))">삭제</Button>

                    @if (OnShowDetail is not null)
                    {
                        <Button Margin="Margin.Is1.FromStart.Is1.FromBottom" Color="Color.Primary" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowDetail(_selectedItem!))">세부사항</Button>
                    }

                    @if (OnShowFailure is not null)
                    {
                        <Button Margin="Margin.Is1.FromStart.Is1.FromBottom" Color="Color.Secondary" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowFailure(_selectedItem!))">@LanguageHelper.FaultTitle</Button>
                    }

                    @if (OnShowSecurityVulnerability is not null)
                    {
                        <Button Margin="Margin.Is1.FromStart.Is1.FromBottom" Color="Color.Success" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowSecurityVulnerability(_selectedItem!))">보안취약</Button>
                    }

                    @if (OnShowMaintenance is not null)
                    {
                        <Button Margin="Margin.Is1.FromStart.Is1.FromBottom" Color="Color.Primary" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowMaintenance(_selectedItem!))">유지보수</Button>
                    }

                    @if (OnShowRoutineCheck is not null)
                    {
                        <Button Margin="Margin.Is1.FromStart.Is1.FromBottom" Color="Color.Secondary" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowRoutineCheck(_selectedItem!))">정기점검</Button>
                    }
                </Div>
            }
        </ButtonRowTemplate>
        <PageButtonTemplate>
            <Span TextColor="TextColor.Light">
                @context.PageNumber
            </Span>
        </PageButtonTemplate>
        <NextPageButtonTemplate><Icon Name="IconName.StepForward" TextColor="TextColor.Primary" /></NextPageButtonTemplate>
        <PreviousPageButtonTemplate><Icon Name="IconName.StepBackward" TextColor="TextColor.Primary" /></PreviousPageButtonTemplate>
        <LastPageButtonTemplate><Icon Name="IconName.Forward" TextColor="TextColor.Primary" /></LastPageButtonTemplate>
        <FirstPageButtonTemplate><Icon Name="IconName.Backward" TextColor="TextColor.Primary" /></FirstPageButtonTemplate>
        <TotalItemsTemplate><Badge Color="Color.Primary">@context.TotalItems 전체 항목</Badge></TotalItemsTemplate>
        <TotalItemsShortTemplate><Badge Color="Color.Primary">@context.TotalItems</Badge></TotalItemsShortTemplate>
        <ItemsPerPageTemplate></ItemsPerPageTemplate>
        <PageSelectorTemplate>
            <Select TextColor="TextColor.Primary" @bind-SelectedValue="@context.CurrentPage">
                @for (int i = context.FirstVisiblePage; i <= context.LastVisiblePage; ++i)
                {
                    var pageNumber = i;
                    <SelectItem Value="@pageNumber">@pageNumber</SelectItem>
                }
            </Select>
        </PageSelectorTemplate>
        <PageSizesTemplate>
            <Select TextColor="TextColor.Primary" @bind-SelectedValue="@context.CurrentPageSize">
                @foreach (var curPageSize in context.PageSizes)
                {
                    <SelectItem Value="@curPageSize">@curPageSize</SelectItem>
                }
            </Select>
        </PageSizesTemplate>
        <PopupTitleTemplate>
            <Div TextOverflow="TextOverflow.Truncate">
                항목수정
            </Div>
        </PopupTitleTemplate>
    </DataGrid>
}

@code {
    private ObservableCollection<TItem> _items = new();
    private bool _isLoading;
    private PersistingComponentStateSubscription _persistingSubscription;
    private TItem? _selectedItem;
    private DataGrid<TItem> _dataGrid = null!;
    private Button? _editButton;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter, EditorRequired]
    public required Func<Task<List<TItem>>> OnUpdateItems { get; set; }

    [Parameter]
    public required Func<TItem, Task> OnSaveItem { get; set; }

    [Parameter]
    public required Func<TItem, Task> OnDeleteItem { get; set; }

    [Parameter]
    public Func<TItem, Task> OnShowDetail { get; set; } = default!;

    [Parameter]
    public Func<TItem, Task> OnShowFailure { get; set; } = default!;

    [Parameter]
    public Func<TItem, Task> OnShowMaintenance { get; set; } = default!;

    [Parameter]
    public Func<TItem, Task> OnShowRoutineCheck { get; set; } = default!;

    [Parameter]
    public Func<TItem, Task> OnShowSecurityVulnerability { get; set; } = default!;

    [Parameter]
    public Action<TItem, DataGridRowStyling> OnRowStyling { get; set; } = default!;

    [Parameter]
    public bool DisableButtonRow { get; set; } = false;

    [Parameter]
    public bool IsDisableNew { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        _persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistItems);

        if (!ApplicationState.TryTakeFromJson<ObservableCollection<TItem>>(
            typeof(TItem).Name, out var items))
        {
            var result = await OnUpdateItems();
            _items = new ObservableCollection<TItem>(result);
        }
        else
        {
            _items = items!;
        }

        _isLoading = false;

        await base.OnInitializedAsync();
    }

    void IDisposable.Dispose()
    {
        _persistingSubscription.Dispose();
    }

    private Task PersistItems()
    {
        ApplicationState.PersistAsJson(typeof(TItem).Name, _items);
        return Task.CompletedTask;
    }

    private async Task SaveItem(CommandContext<TItem> context)
    {
        if (await _dataGrid.ValidateAll())
        {
            Debug.WriteLine("SaveItem");
            await context.Clicked.InvokeAsync();
            await OnSaveItem(context.Item);
        }
    }

    private async Task DeleteItem(CommandContext<TItem> context)
    {
        if (await MessageService.Confirm("항목을 삭제 하시겠습니까?", "확인", (option) =>
        {
            option.ConfirmButtonText = "예";
            option.CancelButtonText = "아니오";
        }))
        {
            await context.Clicked.InvokeAsync();
            await OnDeleteItem(context.Item);
        }
    }
}
