@implements IDisposable
@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem
@inject PersistentComponentState ApplicationState
@inject IMessageService MessageService

@if (_isLoading)
{
    <Div Position="Position.Relative" Width="Width.Is100" Height="Height.Is100">
        <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
            <SpinKit Type="SpinKitType.Wave" Color="skyblue" />
        </Div>
    </Div>
}
else
{
    <DataGrid TItem="TItem"
              Data="@_items"
              @bind-SelectedRow="@_selectedItem"
              ShowPager="true"
              ShowPageSizes="true"
              Editable="true"
              UseValidation="true"
              Sortable="true"
              SortMode="DataGridSortMode.Single"
              Filterable="true"
              FilterMode="DataGridFilterMode.Menu"
              EditMode="DataGridEditMode.Popup"
              FixedColumns="true"
              Resizable="true"
              ResizeMode="TableResizeMode.Columns"
              CommandMode="DataGridCommandMode.ButtonRow"
              Hoverable="true"
              Striped="true"
              Responsive="true">
        <DataGridColumns>
            <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false" DeleteCommandAllowed="false">
                <SaveCommandTemplate>
                    <Button Type="ButtonType.Submit" PreventDefaultOnSubmit="true" Color="Color.Success" Clicked="@(async () => await SaveItem(context))">저장</Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button Color="Color.Danger" Clicked="@context.Clicked">취소</Button>
                </CancelCommandTemplate>
            </DataGridCommandColumn>
            @ChildContent
        </DataGridColumns>

        <FilterMenuTemplate>
            <Grid Columns="GridColumns.Are3" Width="Width.Px(600)">
                <Div>
                    <TextEdit Text="@context.GetSearchValue()?.ToString()" TextChanged="@((newValue) => context.Column.Filter.SearchValue = newValue)" />
                </Div>

                <Div>
                    <Select TValue="DataGridColumnFilterMethod" SelectedValue="@context.GetFilterMethod()" SelectedValueChanged="e => { context.FilterMethodChanged.InvokeAsync(e); }">
                        @{
                            var isNumericOrDate = context.Column.ColumnType == DataGridColumnType.Numeric || context.Column.ColumnType == DataGridColumnType.Date;
                        }

                        @if (!isNumericOrDate)
                        {
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.Contains">을 포함</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.StartsWith">으로 시작</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.EndsWith">으로 끝남</SelectItem>
                        }
                        <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.Equals">와 같음</SelectItem>
                        <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.NotEquals">와 다름</SelectItem>
                        @if (isNumericOrDate)
                        {
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.GreaterThan">보다 큼</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.GreaterThanOrEqual">보다 크거나 같음</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.LessThan">보다 작음</SelectItem>
                            <SelectItem TValue="DataGridColumnFilterMethod" Value="@DataGridColumnFilterMethod.LessThanOrEqual">보다 작거나 같음</SelectItem>
                        }
                    </Select>
                </Div>

                <Div>
                    <Button Clicked="context.Filter" Color="Color.Primary"><Icon Name="IconName.Filter"></Icon>적용</Button>
                    <Button Clicked="context.ClearFilter" Color="Color.Light"><Icon Name="IconName.Clear"></Icon>지우기</Button>
                </Div>
            </Grid>
        </FilterMenuTemplate>
        <EmptyTemplate>
            <Alert Color="Color.Info" Visible="true">
                <AlertMessage>등록된 자료가 없습니다.</AlertMessage>
            </Alert>
        </EmptyTemplate>
        <ButtonRowTemplate>
            <Div>
                <Button Color="Color.Success" Clicked="context.NewCommand.Clicked">추가</Button>
                <Button Color="Color.Primary" Disabled="(_selectedItem is null)" Clicked="context.EditCommand.Clicked">수정</Button>
                <Button Color="Color.Danger" Disabled="(_selectedItem is null)" Clicked="@(async () => await DeleteItem(context.DeleteCommand))">삭제</Button>

                @if (OnShowDetail is not null)
                {
                    <Button Margin="Margin.Is1.FromStart" Color="Color.Secondary" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowDetail(_selectedItem!))">상세보기</Button>
                }

                @if (OnShowFailure is not null)
                {
                    <Button Margin="Margin.Is1.FromStart" Color="Color.Warning" Disabled="(_selectedItem is null)" Clicked="@(async () => await OnShowFailure(_selectedItem!))">장애관리</Button>
                }

            </Div>
        </ButtonRowTemplate>
        <PageButtonTemplate>
            <Span TextColor="TextColor.Success">
                @context.PageNumber
            </Span>
        </PageButtonTemplate>
        <NextPageButtonTemplate><Icon Name="IconName.StepForward" TextColor="TextColor.Success" /></NextPageButtonTemplate>
        <PreviousPageButtonTemplate><Icon Name="IconName.StepBackward" TextColor="TextColor.Success" /></PreviousPageButtonTemplate>
        <LastPageButtonTemplate><Icon Name="IconName.Forward" TextColor="TextColor.Success" /></LastPageButtonTemplate>
        <FirstPageButtonTemplate><Icon Name="IconName.Backward" TextColor="TextColor.Success" /></FirstPageButtonTemplate>
        <TotalItemsTemplate><Badge Color="Color.Success">@context.TotalItems 전체 항목</Badge></TotalItemsTemplate>
        <TotalItemsShortTemplate><Badge Color="Color.Success">@context.TotalItems</Badge></TotalItemsShortTemplate>
        <ItemsPerPageTemplate></ItemsPerPageTemplate>
        <PageSelectorTemplate>
            <Select TextColor="TextColor.Success" @bind-SelectedValue="@context.CurrentPage">
                @for (int i = context.FirstVisiblePage; i <= context.LastVisiblePage; ++i)
                {
                    var pageNumber = i;
                    <SelectItem Value="@pageNumber">@pageNumber</SelectItem>
                }
            </Select>
        </PageSelectorTemplate>
        <PageSizesTemplate>
            <Select TextColor="TextColor.Success" @bind-SelectedValue="@context.CurrentPageSize">
                @foreach (var curPageSize in context.PageSizes)
                {
                    <SelectItem Value="@curPageSize">@curPageSize</SelectItem>
                }
            </Select>
        </PageSizesTemplate>
        <PopupTitleTemplate>
            <Div TextOverflow="TextOverflow.Truncate">
                항목수정
            </Div>
        </PopupTitleTemplate>
    </DataGrid>
}

@code {
    private ObservableCollection<TItem> _items = new();
    private bool _isLoading;
    private PersistingComponentStateSubscription _persistingSubscription;
    private TItem? _selectedItem;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter, EditorRequired]
    public required Func<Task<List<TItem>>> OnUpdateItems { get; set; }

    [Parameter, EditorRequired]
    public required Func<TItem, Task> OnSaveItem { get; set; }

    [Parameter, EditorRequired]
    public required Func<TItem, Task> OnDeleteItem { get; set; }

    [Parameter]
    public Func<TItem, Task> OnShowDetail { get; set; } = default!;

    [Parameter]
    public Func<TItem, Task> OnShowFailure { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        _persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistItems);

        if (!ApplicationState.TryTakeFromJson<ObservableCollection<TItem>>(
            nameof(_items), out var items))
        {
            var result = await OnUpdateItems();
            _items = new ObservableCollection<TItem>(result);
        }
        else
        {
            _items = items!;
        }

        _isLoading = false;

        await base.OnInitializedAsync();
    }

    void IDisposable.Dispose()
    {
        _persistingSubscription.Dispose();
    }

    private Task PersistItems()
    {
        ApplicationState.PersistAsJson(typeof(TItem).Name, _items);
        return Task.CompletedTask;
    }

    private async Task SaveItem(CommandContext<TItem> context)
    {
        await context.Clicked.InvokeAsync();
        var newItem = context.Item;
        await OnSaveItem(newItem);
    }

    private async Task DeleteItem(CommandContext<TItem> context)
    {
        if (await MessageService.Confirm("항목을 삭제 하시겠습니까?", "확인", (option) =>
        {
            option.ConfirmButtonText = "예";
            option.CancelButtonText = "아니오";
        }))
        {
            await context.Clicked.InvokeAsync();
            await OnDeleteItem(context.Item);
        }
    }
}
