@inject IDbContextFactory<ApplicationDbContext> DbFactory

<HeaderTitle Title="@Title" />

<BaseDataGrid TItem="CommonAsset"
              OnUpdateItems="@OnUpdateItems"
              OnSaveItem="@OnSaveItem"
              OnDeleteItem="@OnDeleteItem"
              OnShowFailure="@ShowFailureView"
              OnShowDetail=@OnShowDetail>
    <DataGridColumn Field="@nameof(CommonAsset.Category)" Caption="자산분류" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Category</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ManagementTag)" Caption="자산번호" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ManagementTag</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.Name)" Caption="자산명" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Name</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridDateColumn Field="@nameof(CommonAsset.ApplyDateTime)" Caption="도입일" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ApplyDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
    <DataGridColumn Field="@nameof(CommonAsset.Role)" Caption="업무용도" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Role</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsibleCompany)" Caption="담당업체" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsibleCompany</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePerson)" Caption="담당자" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePerson</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePersonPhone)" Caption="연락처" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePersonPhone</Div>
        </DisplayTemplate>

        <EditTemplate>
            <TextEdit Role="TextRole.Telephone" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
        </EditTemplate>
    </DataGridColumn>
</BaseDataGrid>

@if (_modalVisible)
{
    <Modal @bind-Visible="@_modalVisible">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>장애관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <BaseDataGrid TItem="Failure"
                              OnUpdateItems=@UpdateServerDevices
                              OnSaveItem="@SaveServerDevice"
                              OnDeleteItem="@DeleteServer">
                    <DataGridDateColumn Field="@nameof(Failure.FailureDateTime)" Caption="장애일시" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.FailureDateTime</Div>
                        </DisplayTemplate>
                    </DataGridDateColumn>
                    <DataGridColumn Field="@nameof(Failure.Description)" Caption="장애내용" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Description</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(Failure.Description)" Caption="완료상태" Editable="true" Width="100px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.IsResolved</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                </BaseDataGrid>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _modalVisible;
    private CommonAsset _selectedAsset = new();

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public required Func<Task<List<CommonAsset>>> OnUpdateItems { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnSaveItem { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnDeleteItem { get; set; }

    [Parameter]
    public Func<CommonAsset, Task> OnShowDetail { get; set; } = default!;

    private async Task ShowFailureView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _modalVisible = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task<List<Failure>> UpdateServerDevices()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Servers
            .Where(s => s.CommonAssetId == _selectedAsset.Id)
            .Include(s => s.ServerDevices)
            .SelectMany(s => s.ServerDevices)
            .ToListAsync();
        return items;
    }

    private async Task SaveServerDevice(ServerDevice server)
    {
        using var context = DbFactory.CreateDbContext();

        if (server.Id == 0)
        {
            Debug.Assert(_selectedAsset.Id != 0);
            server.ServerId = _selectedAsset.Server!.Id;
            context.ServerDevices.Add(server);
        }
        else
        {
            context.ServerDevices.Update(server);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteServer(ServerDevice server)
    {
        using var context = DbFactory.CreateDbContext();
        context.ServerDevices.Remove(server);
        await context.SaveChangesAsync();
    }
}
