@using System.Text.RegularExpressions

@inject IDbContextFactory<ApplicationDbContext> DbFactory

<HeaderTitle Title="@Title" />
<BaseDataGrid TItem="CommonAsset"
              OnUpdateItems="@OnUpdateItems"
              OnSaveItem="@OnSaveItem"
              OnDeleteItem="@OnDeleteItem"
              OnShowFailure="@ShowFailureView"
              OnShowDetail=@OnShowDetail>
    <DataGridColumn Field="@nameof(CommonAsset.Name)" Caption="자산명" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Name</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ManagementTag)" Caption="자산번호" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ManagementTag</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridDateColumn Field="@nameof(CommonAsset.ApplyDateTime)" Caption="도입일" Editable="true" InputMode="DateInputMode.Date" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ApplyDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
    <DataGridColumn Field="@nameof(CommonAsset.Role)" Caption="업무용도" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Role</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsibleCompany)" Caption="담당업체" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsibleCompany</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePerson)" Caption="업체담당자" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePerson</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePersonPhone)" Caption="업체연락처" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePersonPhone</Div>
        </DisplayTemplate>
        <EditTemplate>
            <Validation Validator="@CheckPhoneNumber">
                <TextEdit Role="TextRole.Telephone" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Validation>
        </EditTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.OnSiteManager)" Caption="현업담당자" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.OnSiteManager</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.OnSiteManagerPhone)" Caption="현업연락처" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.OnSiteManagerPhone</Div>
        </DisplayTemplate>
        <EditTemplate>
            <Validation Validator="@CheckPhoneNumber">
                <TextEdit Role="TextRole.Telephone" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Validation>
        </EditTemplate>
    </DataGridColumn>
</BaseDataGrid>

@if (_modalVisible)
{
    <Modal @bind-Visible="@_modalVisible">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>장애관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <LoadingIndicator @ref="_loadingIndicator">

                    <BaseDataGrid TItem="Failure"
                                  OnUpdateItems=@UpdateFailures
                                  OnSaveItem="@SaveFailure"
                                  OnDeleteItem="@DeleteFailure">
                        <DataGridCheckColumn Field="@nameof(Failure.IsResolved)" Caption="진행상태" Editable="true" Width="120px">
                            <EditTemplate>
                                <Check TValue="bool" Checked="@((bool)context.CellValue)" CheckedChanged="@(value => context.CellValue = value)">완료</Check>
                            </EditTemplate>
                            <DisplayTemplate>
                                <Div TextOverflow="TextOverflow.Truncate">@(context.IsResolved ? "완료" : "진행중")</Div>
                            </DisplayTemplate>
                        </DataGridCheckColumn>
                        <DataGridColumn Field="@nameof(Failure.Description)" Caption="장애내용" Editable="true" Width="300px">
                            <DisplayTemplate>
                                <Div TextOverflow="TextOverflow.Truncate">@context.Description</Div>
                            </DisplayTemplate>
                            <EditTemplate>
                                <MemoEdit AutoSize="true" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
                            </EditTemplate>
                        </DataGridColumn>
                        <DataGridDateColumn Field="@nameof(Failure.FailureDateTime)" Caption="장애일시" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
                            <DisplayTemplate>
                                <Div TextOverflow="TextOverflow.Truncate">@context.FailureDateTime</Div>
                            </DisplayTemplate>
                        </DataGridDateColumn>
                        <DataGridDateColumn Field="@nameof(Failure.VisitDateTime)" Caption="복구시작" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
                            <DisplayTemplate>
                                <Div TextOverflow="TextOverflow.Truncate">@context.VisitDateTime</Div>
                            </DisplayTemplate>
                        </DataGridDateColumn>
                        <DataGridDateColumn Field="@nameof(Failure.ResolveDateTime)" Caption="복구완료" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
                            <DisplayTemplate>
                                <Div TextOverflow="TextOverflow.Truncate">@context.ResolveDateTime</Div>
                            </DisplayTemplate>
                        </DataGridDateColumn>
                        <DataGridNumericColumn Field="@nameof(Failure.DisabilityHours)" Caption="장애시간" Width="120px" />
                        <DataGridColumn Field="@nameof(Failure.ResolveDescription)" Caption="복구내용" Editable="true" Width="300px">
                            <DisplayTemplate>
                                <Div TextOverflow="TextOverflow.Truncate">@context.ResolveDescription</Div>
                            </DisplayTemplate>
                            <EditTemplate>
                                <MemoEdit AutoSize="true" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
                            </EditTemplate>
                        </DataGridColumn>
                    </BaseDataGrid>
                </LoadingIndicator>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _modalVisible;
    private CommonAsset _selectedAsset = new();
    private LoadingIndicator _loadingIndicator = null!;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public required Func<Task<List<CommonAsset>>> OnUpdateItems { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnSaveItem { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnDeleteItem { get; set; }

    [Parameter]
    public Func<CommonAsset, Task> OnShowDetail { get; set; } = default!;

    private async Task ShowFailureView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _modalVisible = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task<List<Failure>> UpdateFailures()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Failures
            .Where(f => f.CommonAssetId == _selectedAsset.Id)
            .ToListAsync();
        return items;
    }

    private async Task SaveFailure(Failure failure)
    {
        using var context = DbFactory.CreateDbContext();
        failure.DisabilityHours = (int)((failure.ResolveDateTime - failure.FailureDateTime).TotalHours);

        if (failure.Id == 0)
        {
            Debug.Assert(_selectedAsset.Id != 0);
            failure.CommonAssetId = _selectedAsset.Id;
            context.Failures.Add(failure);
        }
        else
        {
            context.Failures.Update(failure);
        }

        await context.SaveChangesAsync();

        await UpdateServiceLevelAgreement(failure.FailureDateTime);
    }

    private async Task DeleteFailure(Failure failure)
    {
        using var context = DbFactory.CreateDbContext();
        context.Failures.Remove(failure);
        await context.SaveChangesAsync();
    }

    private async Task UpdateServiceLevelAgreement(DateTime failureDateTime)
    {
        await _loadingIndicator.Show();

        using var context = DbFactory.CreateDbContext();

        var failuresInMonth = context.Failures
                .Where(f => f.FailureDateTime.Year == failureDateTime.Year
                    && f.FailureDateTime.Month == failureDateTime.Month);

        var endDays = DateTime.DaysInMonth(failureDateTime.Year, failureDateTime.Month);
        var disabiltiyHoursAverage = await failuresInMonth.AverageAsync(f => f.DisabilityHours);
        var disabiltiyHoursLevel = disabiltiyHoursAverage switch
        {
            var hours when hours >= 0 && hours <= 4 => ServiceLevel.Excellent,
            var hours when hours <= 6 => ServiceLevel.Good,
            var hours when hours <= 8 => ServiceLevel.Average,
            var hours when hours <= 10 => ServiceLevel.Insufficient,
            var hours when hours > 10 => ServiceLevel.Poor,
            _ => ServiceLevel.None
        };

        var uptimeRate = 1 - ((await failuresInMonth.ToArrayAsync())
            .Sum(f => (f.ResolveDateTime - f.FailureDateTime).TotalHours) / (24 * endDays));

        var uptimeLevel = uptimeRate switch
        {
            var rate when rate >= 1 => ServiceLevel.Excellent,
            var rate when rate >= 0.98 => ServiceLevel.Good,
            var rate when rate >= 0.94 => ServiceLevel.Average,
            var rate when rate >= 0.92 => ServiceLevel.Insufficient,
            var rate when rate < 0.92 => ServiceLevel.Poor,
            _ => ServiceLevel.None
        };

        var resolvedIn48HourCount = await failuresInMonth.CountAsync(f => f.IsResolved && f.DisabilityHours <= 48);
        var failureCount = await failuresInMonth.CountAsync();
        var technicalSupportCompletionRate = (double)resolvedIn48HourCount / failureCount;
        var technicalSupportLevel = technicalSupportCompletionRate switch
        {
            var rate when rate >= 0.98 => ServiceLevel.Excellent,
            var rate when rate >= 0.94 => ServiceLevel.Good,
            var rate when rate >= 0.92 => ServiceLevel.Average,
            var rate when rate >= 0.9 => ServiceLevel.Insufficient,
            var rate when rate < 0.9 => ServiceLevel.Poor,
            _ => ServiceLevel.None
        };

        var serviceLevelAgreement = await context.ServiceLevelAgreements
            .SingleOrDefaultAsync(s => s.EndDateOfMonth.Year == failureDateTime.Year
                && s.EndDateOfMonth.Month == failureDateTime.Month);

        if (serviceLevelAgreement == null)
        {
            var newServiceLevelAgreement = new ServiceLevelAgreement
                {
                    EndDateOfMonth = new DateOnly(failureDateTime.Year, failureDateTime.Month, endDays),
                    DisabilityHoursAverage = disabiltiyHoursAverage,
                    DisabilityHoursLevel = disabiltiyHoursLevel,
                    UptimeRate = uptimeRate,
                    UptimeLevel = uptimeLevel,
                    TechnicalSupportCompletionRate = technicalSupportCompletionRate,
                    TechnicalSupportLevel = technicalSupportLevel,
                };

            await context.ServiceLevelAgreements.AddAsync(newServiceLevelAgreement);
        }
        else
        {
            serviceLevelAgreement.DisabilityHoursAverage = disabiltiyHoursAverage;
            serviceLevelAgreement.DisabilityHoursLevel = disabiltiyHoursLevel;
            serviceLevelAgreement.UptimeRate = uptimeRate;
            serviceLevelAgreement.UptimeLevel = uptimeLevel;
            serviceLevelAgreement.TechnicalSupportCompletionRate = technicalSupportCompletionRate;
            serviceLevelAgreement.TechnicalSupportLevel = technicalSupportLevel;

            context.ServiceLevelAgreements.Update(serviceLevelAgreement);
        }

        await context.SaveChangesAsync();

        await _loadingIndicator.Hide();
    }

    private void CheckPhoneNumber(ValidatorEventArgs validatorEventArgs)
    {
        if (validatorEventArgs.Value is string phoneNumber)
        {
            if (!Regex.IsMatch(phoneNumber, @"^\d{2,3}-?\d{3,4}-?\d{4}$"))
            {
                validatorEventArgs.Status = ValidationStatus.Error;
                validatorEventArgs.ErrorText = "전화번호 형식이 아닙니다.";
            }
            else
            {
                validatorEventArgs.Status = ValidationStatus.Success;
            }
        }
    }

}
