@using System.Text.RegularExpressions

@inject IDbContextFactory<ApplicationDbContext> DbFactory

<HeaderTitle Title="@Title" />
<BaseDataGrid TItem="CommonAsset"
              OnUpdateItems="@OnUpdateItems"
              OnSaveItem="@OnSaveItem"
              OnDeleteItem="@OnDeleteItem"
              OnShowFailure="@ShowFailureView"
              OnShowMaintenance="@ShowMaintenance"
              OnShowRoutineCheck="@ShowRoutineCheck"
              OnShowSecurityVulnerability="@ShowSecurityVulnerability"
              OnShowDetail=@OnShowDetail>
    <DataGridColumn Field="@nameof(CommonAsset.Name)" Caption="자산명" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Name</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ManagementTag)" Caption="자산번호" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ManagementTag</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridDateColumn Field="@nameof(CommonAsset.ApplyDateTime)" Caption="도입일" Editable="true" InputMode="DateInputMode.Date" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ApplyDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
    <DataGridColumn Field="@nameof(CommonAsset.Role)" Caption="업무용도" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Role</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsibleCompany)" Caption="담당업체" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsibleCompany</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePerson)" Caption="업체담당자" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePerson</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePersonPhone)" Caption="업체연락처" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePersonPhone</Div>
        </DisplayTemplate>
        <EditTemplate>
            <Validation Validator="@CheckPhoneNumber">
                <TextEdit Role="TextRole.Telephone" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Validation>
        </EditTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.OnSiteManager)" Caption="현업담당자" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.OnSiteManager</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.OnSiteManagerPhone)" Caption="현업연락처" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.OnSiteManagerPhone</Div>
        </DisplayTemplate>
        <EditTemplate>
            <Validation Validator="@CheckPhoneNumber">
                <TextEdit Role="TextRole.Telephone" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Validation>
        </EditTemplate>
    </DataGridColumn>
</BaseDataGrid>

@if (_isShowFailureView)
{
    <Modal @bind-Visible="@_isShowFailureView">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>장애 관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <FailureDataGrid CommonAssetId="@_selectedAsset.Id" />
            </ModalBody>
        </ModalContent>
    </Modal>
}

@if (_isShowMaintenanceView)
{
    <Modal @bind-Visible="@_isShowMaintenanceView">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>유지보수 관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <MaintenanceDataGrid CommonAssetId="@_selectedAsset.Id" />
            </ModalBody>
        </ModalContent>
    </Modal>
}

@if (_isShowRoutineCheck)
{
    <Modal @bind-Visible="@_isShowRoutineCheck">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>정기점검 관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <RoutineCheckDataGrid CommonAssetId="@_selectedAsset.Id" />
            </ModalBody>
        </ModalContent>
    </Modal>
}

@if (_isShowSecurityVulnerability)
{
    <Modal @bind-Visible="@_isShowSecurityVulnerability">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>보안 취약점 관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <SecurityVulnerabilityDataGrid CommonAssetId="@_selectedAsset.Id" />
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _isShowFailureView, _isShowMaintenanceView, _isShowRoutineCheck, _isShowSecurityVulnerability;
    private CommonAsset _selectedAsset = new();

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public required Func<Task<List<CommonAsset>>> OnUpdateItems { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnSaveItem { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnDeleteItem { get; set; }

    [Parameter]
    public Func<CommonAsset, Task> OnShowDetail { get; set; } = default!;

    private async Task ShowFailureView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _isShowFailureView = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task ShowMaintenance(CommonAsset asset)
    {
        _selectedAsset = asset;
        _isShowMaintenanceView = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task ShowRoutineCheck(CommonAsset asset)
    {
        _selectedAsset = asset;
        _isShowRoutineCheck = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task ShowSecurityVulnerability(CommonAsset asset)
    {
        _selectedAsset = asset;
        _isShowSecurityVulnerability = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private void CheckPhoneNumber(ValidatorEventArgs validatorEventArgs)
    {
        if (validatorEventArgs.Value is string phoneNumber)
        {
            if (!Regex.IsMatch(phoneNumber, @"^\d{2,3}-?\d{3,4}-?\d{4}$"))
            {
                validatorEventArgs.Status = ValidationStatus.Error;
                validatorEventArgs.ErrorText = "전화번호 형식이 아닙니다.";
            }
            else
            {
                validatorEventArgs.Status = ValidationStatus.Success;
            }
        }
    }

}
