@inject IDbContextFactory<ApplicationDbContext> DbFactory

<HeaderTitle Title="@Title" />

<BaseDataGrid TItem="CommonAsset"
              OnUpdateItems="@OnUpdateItems"
              OnSaveItem="@OnSaveItem"
              OnDeleteItem="@OnDeleteItem"
              OnShowFailure="@ShowFailureView"
              OnShowDetail=@OnShowDetail>
    <DataGridColumn Field="@nameof(CommonAsset.Category)" Caption="자산분류" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Category</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ManagementTag)" Caption="자산번호" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ManagementTag</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.Name)" Caption="자산명" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Name</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridDateColumn Field="@nameof(CommonAsset.ApplyDateTime)" Caption="도입일" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ApplyDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
    <DataGridColumn Field="@nameof(CommonAsset.Role)" Caption="업무용도" Editable="true" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Role</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsibleCompany)" Caption="담당업체" Editable="true" Width="150px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsibleCompany</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePerson)" Caption="담당자" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePerson</Div>
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(CommonAsset.ResponsiblePersonPhone)" Caption="연락처" Editable="true" Width="130px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResponsiblePersonPhone</Div>
        </DisplayTemplate>

        <EditTemplate>
            <TextEdit Role="TextRole.Telephone" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
        </EditTemplate>
    </DataGridColumn>
</BaseDataGrid>

@if (_modalVisible)
{
    <Modal @bind-Visible="@_modalVisible">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>장애관리</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <BaseDataGrid TItem="Failure"
                              OnUpdateItems=@UpdateFailures
                              OnSaveItem="@SaveFailure"
                              OnDeleteItem="@DeleteFailure">
                    <DataGridDateColumn Field="@nameof(Failure.FailureDateTime)" Caption="장애일시" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.FailureDateTime</Div>
                        </DisplayTemplate>
                    </DataGridDateColumn>
                    <DataGridColumn Field="@nameof(Failure.Description)" Caption="장애내용" Editable="true" Width="550px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Description</Div>
                        </DisplayTemplate>
                        <EditTemplate>
                            <MemoEdit AutoSize="true" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
                        </EditTemplate>
                    </DataGridColumn>
                    <DataGridCheckColumn Field="@nameof(Failure.IsResolved)" Caption="진행상태" Editable="true" Width="100px">
                        <EditTemplate>
                            <Check TValue="bool" Checked="@((bool)context.CellValue)" CheckedChanged="@(value => context.CellValue = value)">완료</Check>
                        </EditTemplate>
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@(context.IsResolved ? "완료" : "진행중")</Div>
                        </DisplayTemplate>
                    </DataGridCheckColumn>
                </BaseDataGrid>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _modalVisible;
    private CommonAsset _selectedAsset = new();

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public required Func<Task<List<CommonAsset>>> OnUpdateItems { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnSaveItem { get; set; }

    [Parameter, EditorRequired]
    public required Func<CommonAsset, Task> OnDeleteItem { get; set; }

    [Parameter]
    public Func<CommonAsset, Task> OnShowDetail { get; set; } = default!;
    
    private async Task ShowFailureView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _modalVisible = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task<List<Failure>> UpdateFailures()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Failures
            .Where(f => f.CommonAssetId == _selectedAsset.Id)
            .ToListAsync();
        return items;
    }

    private async Task SaveFailure(Failure failure)
    {
        using var context = DbFactory.CreateDbContext();

        if (failure.Id == 0)
        {
            Debug.Assert(_selectedAsset.Id != 0);
            failure.CommonAssetId = _selectedAsset.Id;
            context.Failures.Add(failure);
        }
        else
        {
            context.Failures.Update(failure);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteFailure(Failure failure)
    {
        using var context = DbFactory.CreateDbContext();
        context.Failures.Remove(failure);
        await context.SaveChangesAsync();
    }
}
