<HeaderTitle Title="유지보수" />

<BaseDataGrid TItem="Maintenance"
              OnUpdateItems=@UpdateMaintenances
              OnSaveItem="@SaveMaintenance"
              OnDeleteItem="@DeleteMaintenance"
              OnShowDetail="@OnShowDetail"
              IsDisableNew="@IsDisableNew">
    <DataGridColumn Field="@nameof(Maintenance.Description)" Caption="작업내용" Editable="true" Width="300px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Description</Div>
        </DisplayTemplate>
        <EditTemplate>
            <MemoEdit AutoSize="true" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
        </EditTemplate>
    </DataGridColumn>
    <DataGridDateColumn Field="@nameof(Maintenance.VisitDateTime)" Caption="작업시작일시" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.VisitDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
    <DataGridDateColumn Field="@nameof(Maintenance.ResolveDateTime)" Caption="작업종료일시" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.ResolveDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
</BaseDataGrid>

@code {
    [Parameter, EditorRequired]
    public required Func<Task<List<Maintenance>>> UpdateMaintenances { get; set; }

    [Parameter]
    public required Func<Maintenance, Task> SaveMaintenance { get; set; }

    [Parameter]
    public required Func<Maintenance, Task> DeleteMaintenance { get; set; }

    [Parameter]
    public bool IsDisableNew { get; set; } = false;

    [Parameter]
    public Func<Maintenance, Task> OnShowDetail { get; set; } = default!;
}
