@inject NavigationManager Navigation
@inject AntiforgeryStateProvider Antiforgery

<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet">
    <BarToggler>
        <Div Position="Position.Absolute.Top.Is0.Start.Is0" Background="Background.White" Width="Width.Is100" Height="Height.Is100">
            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bars"
                     Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"
                     IconSize="IconSize.Large"
                     TextColor="TextColor.Primary" />
        </Div>
    </BarToggler>
    <BarBrand>
        <BarItem>
            <BarLink To="/" Match="Match.All" TextWeight="TextWeight.Bold" TextColor="TextColor.Primary">
                <Image Source="_content/ITAssetManagerComponents/images/brand.png" Text="굿모닝아이텍" Width="Width.Px(25)" Margin="Margin.Is1" />
                굿모닝아이텍(주)
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <AuthorizeView>
                <Authorized>
                    <BarItem>
                        <BarLink To="/schedule">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CalendarPlus" />
                            @LanguageHelper.SecheduleCalendarTitle
                        </BarLink>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle Clicked="@(() => Navigation.NavigateTo("/servers"))">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.FolderPlus" />
                                관리항목
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="/servers">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Server" />
                                    @LanguageHelper.ServerTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/storages">
                                    <BarIcon IconName="@("fa-hard-drive")" />
                                    @LanguageHelper.StorageTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/backupequipments">
                                    <BarIcon IconName="@("fa-download")" />
                                    @LanguageHelper.BackupEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/networkequipments">
                                    <BarIcon IconName="@("fa-network-wired")" />
                                    @LanguageHelper.NetworkEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/securityequipments">
                                    <BarIcon IconName="@("fa-user-secret")" />
                                    @LanguageHelper.SecurityEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/softwares">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CompactDisc" />
                                    @LanguageHelper.SoftwareTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/supportequipments">
                                    <BarIcon IconName="@("fa-toolbox")" />
                                    @LanguageHelper.SupportEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/miscellaneousequipments">
                                    <BarIcon IconName="@("fa-ethernet")" />
                                    @LanguageHelper.EtcTitle
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle Clicked="@(() => Navigation.NavigateTo("/fault"))">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ChartBar" />
                                유지관리현황
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="/fault">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.HeartBroken" />
                                    @LanguageHelper.FaultTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/securityvulnerability">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug" />
                                    @LanguageHelper.VulnerabilityTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/routinecheck">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CalendarCheck" />
                                    @LanguageHelper.ScheduledMaintenanceTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/maintenance">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Wrench" />
                                    @LanguageHelper.MaintenanceTitle
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarLink To="/servicelevelagreements">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ClipboardCheck" />
                            SLA
                        </BarLink>
                    </BarItem>                    
                </Authorized>
                <NotAuthorized>
                    <BarItem>
                        <BarLink To="/" Match="Match.All">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Home" />
                            대시보드
                        </BarLink>
                    </BarItem>
                </NotAuthorized>
            </AuthorizeView>
        </BarStart>
    </BarMenu>
</Bar>



