@inject NavigationManager Navigation
@inject AntiforgeryStateProvider Antiforgery

<Bar Mode="BarMode.VerticalInline"
     CollapseMode="BarCollapseMode.Small"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet">
    <BarToggler>
        <Div Position="Position.Absolute.Top.Is0.Start.Is0" Background="Background.White" Width="Width.Is100" Height="Height.Is100">
            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bars"
                     Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle"
                     IconSize="IconSize.Large"
                     TextColor="TextColor.Primary" />
        </Div>
    </BarToggler>
    <BarBrand>
        <BarItem>
            <BarLink To="/" Match="Match.All" TextWeight="TextWeight.Bold" TextColor="TextColor.Primary">
                <Image Source="_content/ITAssetManagerComponents/images/brand.png" Text="굿모닝아이텍" Width="Width.Px(25)" Margin="Margin.Is1" />
                굿모닝아이텍(주)
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/" Match="Match.All">
                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Home" />
                    대시보드
                </BarLink>
            </BarItem>
            <AuthorizeView>
                <Authorized>
                    <BarItem>
                        <BarLink To="/schedule">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CalendarPlus" />
                            @HeaderConstant.SecheduleCalendarTitle
                        </BarLink>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle Clicked="@(() => Navigation.NavigateTo("/servers"))">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.FolderPlus" />
                                관리항목
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="/servers">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Server" />
                                    @HeaderConstant.ServerTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/storages">
                                    <BarIcon IconName="@("fa-hard-drive")" />
                                    @HeaderConstant.StorageTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/backupequipments">
                                    <BarIcon IconName="@("fa-download")" />
                                    @HeaderConstant.BackupEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/networkequipments">
                                    <BarIcon IconName="@("fa-network-wired")" />
                                    @HeaderConstant.NetworkEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/securityequipments">
                                    <BarIcon IconName="@("fa-user-secret")" />
                                    @HeaderConstant.SecurityEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/softwares">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CompactDisc" />
                                    @HeaderConstant.SoftwareTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/supportequipments">
                                    <BarIcon IconName="@("fa-toolbox")" />
                                    @HeaderConstant.SupportEquipmentTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/miscellaneousequipments">
                                    <BarIcon IconName="@("fa-ethernet")" />
                                    @HeaderConstant.EtcTitle
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle Clicked="@(() => Navigation.NavigateTo("/fault"))">
                                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ChartBar" />
                                유지관리현황
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="/fault">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.HeartBroken" />
                                    @HeaderConstant.FaultTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/securityvulnerability">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bug" />
                                    @HeaderConstant.VulnerabilityTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/routinecheck">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.CalendarCheck" />
                                    @HeaderConstant.ScheduledMaintenanceTitle
                                </BarDropdownItem>
                                <BarDropdownItem To="/maintenance">
                                    <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Wrench" />
                                    @HeaderConstant.MaintenanceTitle
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarLink To="/servicelevelagreements">
                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ClipboardCheck" />
                            @HeaderConstant.ServiceLevelAgreementTitle
                        </BarLink>
                    </BarItem>
                    <!-- Administrator menu -->
                    <AuthorizeView Policy="@PolicyConstants.ADMINISTRATOR_POLICY" Context="adminContext">
                        <Authorized Context="adminAuthorized">
                            <BarItem>
                                <BarDropdown>
                                    <BarDropdownToggle>
                                        <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.UserCog" />
                                        관리자
                                    </BarDropdownToggle>
                                    <BarDropdownMenu>
                                        <BarDropdownItem To="/admin/usermanagement">
                                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Users" />
                                            사용자 관리
                                        </BarDropdownItem>
                                        <BarDropdownItem To="/admin/excelmanagement">
                                            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.FileExcel" />
                                            @HeaderConstant.ExcelDataManagementTitle
                                        </BarDropdownItem>
                                    </BarDropdownMenu>
                                </BarDropdown>
                            </BarItem>
                        </Authorized>
                    </AuthorizeView>
                </Authorized>
            </AuthorizeView>
        </BarStart>
    </BarMenu>
</Bar>



