@inject IDbContextFactory<ApplicationDbContext> DbFactory

<BaseDataGrid TItem="RoutineCheck"
              IsDisableNew="@IsDisableNew"
              OnShowDetail="@OnShowDetail"
              OnUpdateItems=@UpdateRoutineChecks
              OnSaveItem="@SaveRoutineCheck"
              OnDeleteItem="@DeleteRoutineCheck">
    <DataGridColumn Field="@nameof(RoutineCheck.Detail)" Caption="점검내용" Editable="true" Width="300px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.Detail</Div>
        </DisplayTemplate>
        <EditTemplate>
            <MemoEdit AutoSize="true" Text="@((string)context.CellValue)" TextChanged="@(value => context.CellValue = value)" />
        </EditTemplate>
    </DataGridColumn>
    <DataGridDateColumn Field="@nameof(RoutineCheck.StartDateTime)" Caption="점검시작" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.StartDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
    <DataGridDateColumn Field="@nameof(RoutineCheck.EndDateTime)" Caption="점검종료" Editable="true" InputMode="DateInputMode.DateTime" Width="200px">
        <DisplayTemplate>
            <Div TextOverflow="TextOverflow.Truncate">@context.EndDateTime</Div>
        </DisplayTemplate>
    </DataGridDateColumn>
</BaseDataGrid>

@code {
    [Parameter, EditorRequired]
    public required Func<Task<List<RoutineCheck>>> UpdateRoutineChecks { get; set; }

    [Parameter]
    public required Func<RoutineCheck, Task> SaveRoutineCheck { get; set; }

    [Parameter]
    public required Func<RoutineCheck, Task> DeleteRoutineCheck { get; set; }

    [Parameter]
    public bool IsDisableNew { get; set; } = false;

    [Parameter]
    public Func<RoutineCheck, Task> OnShowDetail { get; set; } = default!;

    
}
