@inject IDbContextFactory<ApplicationDbContext> DbFactory

<CommonAssetDataGrid Title="서버장비" OnShowDetail="@ShowDetailView" />

@if (_modalVisible)
{
    <Modal @bind-Visible="@_modalVisible">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>장비사양</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <BaseDataGrid TItem="ServerDevice"
                              OnUpdateItems=@UpdateServerDevices
                              OnSaveItem="@SaveServerDevice"
                              OnDeleteItem="@DeleteServer">
                    <DataGridColumn Field="@nameof(ServerDevice.Manufacturer)" Caption="제조사" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Manufacturer</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(ServerDevice.Model)" Caption="모델명" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Model</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridNumericColumn Field="@nameof(ServerDevice.Cpu)" Caption="CPU(Ghz)" Editable="true" Width="180px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Cpu</Div>
                        </DisplayTemplate>
                    </DataGridNumericColumn>
                    <DataGridNumericColumn Field="@nameof(ServerDevice.Ram)" Caption="메모리(GB)" Editable="true" Width="180px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Ram</Div>
                        </DisplayTemplate>
                    </DataGridNumericColumn>
                    <DataGridNumericColumn Field="@nameof(ServerDevice.Disk)" Caption="디스크(TB)" Editable="true" Width="180px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Disk</Div>
                        </DisplayTemplate>
                    </DataGridNumericColumn>
                    <DataGridColumn Field="@nameof(ServerDevice.Rack)" Caption="랙 위치" Editable="true" Width="150px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Rack</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                </BaseDataGrid>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _modalVisible;
    private CommonAsset _selectedAsset = new();

    private async Task ShowDetailView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _modalVisible = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task<List<ServerDevice>> UpdateServerDevices()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.ServerDevices
            .Where(s => s.CommonAssetId == _selectedAsset.Id)
            .ToListAsync();
        return items;
    }

    private async Task SaveServerDevice(ServerDevice serverDevice)
    {
        using var context = DbFactory.CreateDbContext();

        if (serverDevice.Id == 0)
        {
            Debug.Assert(_selectedAsset.Id != 0);
            serverDevice.CommonAssetId = _selectedAsset.Id;
            context.ServerDevices.Add(serverDevice);
        }
        else
        {
            context.ServerDevices.Update(serverDevice);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteServer(ServerDevice serverDevice)
    {
        using var context = DbFactory.CreateDbContext();
        context.ServerDevices.Remove(serverDevice);
        await context.SaveChangesAsync();
    }
}

