@inject IDbContextFactory<ApplicationDbContext> DbFactory

<CommonAssetDataGrid Title="서버"
                     OnUpdateItems=@UpdateAssets
                     OnSaveItem=@SaveAsset
                     OnDeleteItem=@DeleteAsset
                     OnShowDetail="@ShowDetailView" />

@if (_modalVisible)
{
    <Modal @bind-Visible="@_modalVisible">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.ExtraLarge">
            <ModalHeader>
                <ModalTitle>장비사양</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <BaseDataGrid TItem="ServerDevice"
                              OnUpdateItems=@UpdateServerDevices
                              OnSaveItem="@SaveServerDevice"
                              OnDeleteItem="@DeleteServer">
                    <DataGridColumn Field="@nameof(ServerDevice.Manufacturer)" Caption="제조사" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Manufacturer</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(ServerDevice.Model)" Caption="모델명" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Model</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(ServerDevice.SerialNumber)" Caption="시리얼번호" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.SerialNumber</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridNumericColumn Field="@nameof(ServerDevice.Cpu)" Caption="CPU(Ghz)" Editable="true" Width="150px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Cpu</Div>
                        </DisplayTemplate>
                    </DataGridNumericColumn>
                    <DataGridNumericColumn Field="@nameof(ServerDevice.Ram)" Caption="메모리(GB)" Editable="true" Width="150px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Ram</Div>
                        </DisplayTemplate>
                    </DataGridNumericColumn>
                    <DataGridNumericColumn Field="@nameof(ServerDevice.Disk)" Caption="디스크(TB)" Editable="true" Width="150px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Disk</Div>
                        </DisplayTemplate>
                    </DataGridNumericColumn>
                    <DataGridColumn Field="@nameof(ServerDevice.Rack)" Caption="랙 위치" Editable="true" Width="150px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Rack</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                </BaseDataGrid>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _modalVisible;
    private CommonAsset _selectedAsset = new();

    private async Task<List<CommonAsset>> UpdateAssets()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Servers
            .Include(s => s.CommonAsset)
            .Select(s => s.CommonAsset)
            .ToListAsync();
        return items;
    }

    private async Task SaveAsset(CommonAsset asset)
    {
        using var context = DbFactory.CreateDbContext();

        if (asset.Id == 0)
        {
            asset.Server = new Server()
                {
                    CommonAssetId = asset.Id,
                    CommonAsset = asset
                };

            await context.CommonAssets.AddAsync(asset);
        }
        else
        {
            context.CommonAssets.Update(asset);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteAsset(CommonAsset asset)
    {
        using var context = DbFactory.CreateDbContext();
        context.CommonAssets.Remove(asset);
        await context.SaveChangesAsync();
    }

    private async Task ShowDetailView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _modalVisible = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task<List<ServerDevice>> UpdateServerDevices()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Servers
            .Where(s => s.CommonAssetId == _selectedAsset.Id)
            .Include(s => s.ServerDevices)
            .SelectMany(s => s.ServerDevices)
            .ToListAsync();
        return items;
    }

    private async Task SaveServerDevice(ServerDevice device)
    {
        using var context = DbFactory.CreateDbContext();

        if (device.Id == 0)
        {
            Debug.Assert(_selectedAsset.Id != 0);
            device.ServerId = _selectedAsset.Server!.Id;
            context.ServerDevices.Add(device);
        }
        else
        {
            context.ServerDevices.Update(device);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteServer(ServerDevice device)
    {
        using var context = DbFactory.CreateDbContext();
        context.ServerDevices.Remove(device);
        await context.SaveChangesAsync();
    }
}

