@inject IDbContextFactory<ApplicationDbContext> DbFactory
<HeaderTitle Title="@HeaderConstant.SoftwareTitle" />

<CommonAssetDataGrid OnUpdateItems=@UpdateAssets
                     OnSaveItem=@SaveAsset
                     OnDeleteItem=@DeleteAsset
                     OnShowDetail="@ShowDetailView" />

@if (_modalVisible)
{
    <Modal @bind-Visible="@_modalVisible">
        <ModalContent Centered="true" Scrollable="true" Size="ModalSize.Fullscreen">
            <ModalHeader>
                <ModalTitle>소프트웨어 정보</ModalTitle>
                <CloseButton Margin="Margin.Is2.FromEnd" />
            </ModalHeader>
            <ModalBody>
                <BaseDataGrid TItem="SoftwareDevice"
                              OnUpdateItems=@UpdateSoftwareDevices
                              OnSaveItem="@SaveSoftwareDevice"
                              OnDeleteItem="@DeleteSoftwareDevice">
                    <DataGridColumn Field="@nameof(SoftwareDevice.Manufacturer)" Caption="제조사" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Manufacturer</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(SoftwareDevice.ProgramName)" Caption="프로그램명" Editable="true" Width="250px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.ProgramName</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(SoftwareDevice.SerialNumber)" Caption="시리얼번호" Editable="true" Width="200px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.SerialNumber</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(SoftwareDevice.Notes)" Caption="비고" Editable="true" Width="250px">
                        <DisplayTemplate>
                            <Div TextOverflow="TextOverflow.Truncate">@context.Notes</Div>
                        </DisplayTemplate>
                    </DataGridColumn>
                </BaseDataGrid>
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    private bool _modalVisible;
    private CommonAsset _selectedAsset = new();

    private async Task<List<CommonAsset>> UpdateAssets()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Softwares
            .Include(s => s.CommonAsset)
            .Select(s => s.CommonAsset)
            .ToListAsync();
        return items;
    }

    private async Task SaveAsset(CommonAsset asset)
    {
        using var context = DbFactory.CreateDbContext();

        if (asset.Id == 0)
        {
            asset.Software = new Software()
                {
                    CommonAssetId = asset.Id,
                    CommonAsset = asset
                };

            await context.CommonAssets.AddAsync(asset);
        }
        else
        {
            context.CommonAssets.Update(asset);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteAsset(CommonAsset asset)
    {
        using var context = DbFactory.CreateDbContext();
        context.CommonAssets.Remove(asset);
        await context.SaveChangesAsync();
    }

    private async Task ShowDetailView(CommonAsset asset)
    {
        _selectedAsset = asset;
        _modalVisible = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task<List<SoftwareDevice>> UpdateSoftwareDevices()
    {
        using var context = DbFactory.CreateDbContext();
        var items = await context.Softwares
            .Where(s => s.CommonAssetId == _selectedAsset.Id)
            .Include(s => s.SoftwareDevices)
            .SelectMany(s => s.SoftwareDevices)
            .ToListAsync();
        return items;
    }

    private async Task SaveSoftwareDevice(SoftwareDevice device)
    {
        using var context = DbFactory.CreateDbContext();

        if (device.Id == 0)
        {
            Debug.Assert(_selectedAsset.Id != 0);

            var software = await context.Softwares
                .SingleAsync(s => s.CommonAssetId == _selectedAsset.Id);

            device.SoftwareId = software.Id;
            context.SoftwareDevices.Add(device);
        }
        else
        {
            context.SoftwareDevices.Update(device);
        }

        await context.SaveChangesAsync();
    }

    private async Task DeleteSoftwareDevice(SoftwareDevice device)
    {
        using var context = DbFactory.CreateDbContext();
        context.SoftwareDevices.Remove(device);
        await context.SaveChangesAsync();
    }
}
